body {
    font-family: roboto sans-serif;
    color: var(--h2-font-color);


}
:root {
    --h2-font-color: #212121;
    --article-color:#757575;
    --footer-background-color:#2F303A;
}
li {
    list-style-type: none;
}
.spanfirst {
    color: #2196F3;
    font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        
}
.spansecond {color: #212121;

font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    
}
.link-one {
    font-size: 14px;
    text-decoration: none;
    color: var(--h2-color);
    
}
.link-two {color: #2196F3;
font-size: 14px;
text-decoration: none;
}
.link-adres {
    color: #757575;
    font-size: 14px;
    font-weight: 16px;
    text-decoration: none;
}
.button {
    color: #212121;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {color: #FFFFFF;
background-color: #2196F3;
}
.images {
    height: 294px;
        width: 370px;}

.header-second {
    font-style: bold;
    font-size: 18px;
}
.article-first {
    font-style: regular;
    font-size: 16px;
    color: var(--article-color)
}
.link-fourth {
    font-style: regular;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.6em;
   
}
.link-fifth {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.6em;
    text-decoration: none;
}